.card-of-partner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-image: linear-gradient(to right, rgba(243, 231, 233, 0.5) 0%, rgba(227, 238, 255, 0.5) 100%);

  &--partner-page {
    position: absolute;
    left: 370px;
    top: 443px;
    width: 390px;
    height: 390px;
    border-radius: 50%;
  }

  &__logo {
    max-width: 300px;
    height: auto;
    position: absolute;
    left: 7%;
    top: 30%;
    display: block;
  }

  &__more {
    color: #1f2135;
    position: absolute;
    top: 60%;
    left: 43%;
  }

  &__link {
    color: #1f2135;
    position: absolute;
    top: 71.45%;
    left: 32.74%;

    &--partner-page {
      top: (235/390) * 100%;
      left: 50%;
    }
  }
}

@media only screen and (max-width: 1550px) {
  .card-of-partner {
    &--partner-page {
      display: none;
    }
  }
}

@media only screen and (max-width: 560px) {
  .card-of-partner {
    &__logo {
      max-width: 220px;
      height: auto;
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
    }

    &__more {
      left: 50%;
      transform: translateX(-50%);
    }

    &__link {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}