// Roboto font
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic-ext');

// 
@font-face {
    font-family: "Cervo";
    src: url(../fonts/Cervo-medium.otf);
}

//Ristretto-pro font
@font-face {
    font-family: "Ristretto-pro Bold";
    src: url(../fonts/mf-ristretto-pro-244115.ttf);
}

@font-face {
    font-family: "Ristretto-pro Extra Light";
    src: url(../fonts/mf-ristretto-pro-244116.ttf);
}

@font-face {
    font-family: "Ristretto-pro Light";
    src: url(../fonts/mf-ristretto-pro-244117.ttf);
}

@font-face {
    font-family: "Ristretto-pro Medium";
    src: url(../fonts/mf-ristretto-pro-244118.ttf);
}

@font-face {
    font-family: "Ristretto-pro Black";
    src: url(../fonts/mf-ristretto-pro-244119.ttf);
}

@font-face {
    font-family: "Ristretto-pro Thin";
    src: url(../fonts/mf-ristretto-pro-244120.ttf);
}

@font-face {
    font-family: "Ristretto-pro Semi Bold";
    src: url(../fonts/mf-ristretto-pro-244121.ttf);
}

@font-face {
    font-family: "Ristretto-pro Regular";
    src: url(../fonts/mf-ristretto-pro-244122.ttf);
}

//Ristretto-slab-pro font
@font-face {
    font-family: "Ristretto-slab-pro Light";
    src: url(../fonts/mf-ristretto-slab-pro-244123.ttf);
}

@font-face {
    font-family: "Ristretto-slab-pro Bold";
    src: url(../fonts/mf-ristretto-slab-pro-244124.ttf);
}

@font-face {
    font-family: "Ristretto-slab-pro Extra Light";
    src: url(../fonts/mf-ristretto-slab-pro-244125.ttf);
}

@font-face {
    font-family: "Ristretto-slab-pro Black";
    src: url(../fonts/mf-ristretto-slab-pro-244126.ttf);
}

@font-face {
    font-family: "Ristretto-slab-pro Medium";
    src: url(../fonts/mf-ristretto-slab-pro-244127.ttf);
}

@font-face {
    font-family: "Ristretto-slab-pro Regular";
    src: url(../fonts/mf-ristretto-slab-pro-244128.ttf);
}

@font-face {
    font-family: "Ristretto-slab-pro Semi Bold";
    src: url(../fonts/mf-ristretto-slab-pro-244129.ttf);
}

@font-face {
    font-family: "Ristretto-slab-pro Thin";
    src: url(../fonts/mf-ristretto-slab-pro-244123.ttf);
}