.footer {
  position: relative;
  
  
  &__holder {
    display: flex;
    align-items: center;
    height: 120px;
    max-width: 1620px;
    background-repeat: no-repeat;
    background-image: url(../images/footer-background.svg);
    margin-left: 179px;
    margin-right: 120px;
  }

  &__to-top {
    user-select: none; 
    position: absolute;
    top: calc(50% + 24px);
    left: 46px;
    text-decoration: none;
    display: inline-block;
    color: #2f3035;
    font-family: "Ristretto-pro Regular";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.8px;
    transform-origin: 0 0;
    transform: rotate(-90deg);

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 110%;
      background-repeat: no-repeat;
      background-image: url(../images/footer__to-top-arrow.svg);
      width: 21px;
      height: 14px;
      transform: rotate(90deg);
    }
  }

  &__logo {
    user-select: none;
    margin-left: -40px;
    display: inline-flex;
    align-items: center;
    
    a {
      display: block;
      margin-right: 12px;
      height: 100%;
      width: auto;
    }

    strong {
      opacity: 0.5;
      color: #1f2135;
      font-family: Cervo, sans-serif;
      font-size: 65px;
      font-weight: 500;
      line-height: .66;
    }

    span {
      opacity: 0.5;
      color: #1f2135;
      font-family: Roboto, sans-serif;
      font-size: 15.5px;
      font-style: italic;
      line-height: .9;
      // letter-spacing: 6px;
    }
  }

  &__contact-info {
    margin-left: 144px;
    color: #1f2135;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
  }

  &__wezom {
    width: 355px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: -40px;

    span {
      position: relative;
      display: block;
      color: #1f2135;
      font-family: "Ristretto-slab-pro Regular";
      font-size: 20px;
      font-weight: 300;
      line-height: 60px;
      text-transform: uppercase;
      line-height: 1.4;
      letter-spacing: 1.5px;

      &::before {
        content: ' ';
        position: absolute;
        top: 70%;
        width: 100%;
        height: 2px;
        border-bottom: solid #e90e37 1px;
      }

      &::after {
        content: '—';
        position: absolute;
        left: 105%;
        color: #e90e37;
      }
    }

    img {
      margin-left: 30px;
    }

    ._bar {
      margin-left: 14px;
    }
  }
}

@media only screen and (max-width: 1230px) {
  .footer {
    &__holder {
      justify-content: space-between;
    }

    &__contact-info, &__wezom {
      margin-left: 0;
    }
  }
}

@media only screen and (max-width: 1070px) {
  .footer {
    &__holder {
      max-width: calc(100% - 179px);
      margin-right: 0;
    }

    &__wezom {
      margin-right: 10px;
    }

    &__contact-info {
      display: none;
    }
  }
}

@media only screen and (max-width: 760px) {
  .footer {
    margin-top: 50px;

    &__to-top {
      left: 15px;
    }

    &__wezom {
      display: none;
    }

    &__holder {
      max-width: 220px;
      margin-left: auto;
    }
  }
}