.numbered-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: step-counter;
  margin-top: 37px; 

  &__item {
    position: relative;
    display: flex;
    align-items: baseline;
    padding-left: 40px;
    margin-top: 20px;
    color: #1f2135;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    counter-increment: step-counter; 

    &::before {
      content: counter(step-counter)'.';
      position: absolute;
      top: 0;
      left: 0;
      // margin-right: rem(19);
      color: #e90e37;
      font-family: "Ristretto-pro Regular";
      font-size: 48px;
      font-weight: 700;
      line-height: .7;
    }
  }
}
