.partners-navigation {
  margin-top: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  max-width: 1424px;
  margin-left: auto;
  margin-right: auto;

  &__separator {
    width: 55px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: url(../images/pagination-bar.svg);
    background-size: 100% 100%;
  }

  &__item {
    display: inline-flex;
    position: relative;
    align-items: center;
    height: 142px;
    position: relative;
    cursor: pointer;

    span {
      color: #1f2135;
      font-family: "Ristretto-pro Regular";
      font-size: rem(36);
      font-weight: 400;
      line-height: 1;
      transition: color .5s;

    }

    &:hover {
      span {
        color: #e90e37;
      }

      .partners-navigation__arrow {
        ._animate {
           fill: #e90e37;
        }
      }

      .partners-navigation__bar {
        border-bottom-color: #e90e37;
      }
    }
  }

  &__arrow {

    // position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
    
    &--left {
      // right: calc(100% + 43px);
      margin-right: 40px;
    }

    &--right {
      // left: calc(100% + 43px);
      margin-left: 40px;
    }

    ._animate {
        transition: fill .5s;
    }
  }

  &__bar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
    height: 2px;
    border-bottom: 1px solid #c2d1d5;
    transition: border-bottom-color .5s;

    &--left {
      left: calc(100% + 61px);
    }

    &--right {
      right: calc(100% + 61px);
    }

  }

}

@media only screen and (max-width: 1760px) {
  .partners-navigation {
    max-width: 500px;

    &__bar {
      display: none;
    }
  }
}

@media only screen and (max-width: 650px) {
  .partners-navigation {
    max-width: 200px;

    &__item {
      height: auto;

      span {
        display: none;
      }

      &::before {
        display: none;
      }
    }
  }
}