.services-navigation {
  margin-top: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  max-width: 1424px;
  margin-left: auto;
  margin-right: auto;

  &__separator {
    width: 55px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: url(../images/pagination-bar.svg);
    background-size: 100% 100%;
  }

  &__item {
    display: inline-flex;
    position: relative;
    align-items: center;
    height: 142px;
    position: relative;
    cursor: pointer;

    span {
      color: #1f2135;
      font-family: "Ristretto-pro Regular";
      font-size: rem(36);
      font-weight: 400;
      line-height: 1;
      transition: color .5s;

    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -13.5px;
      width: 142px;
      height: 142px;
      opacity: 0;
      background-repeat: no-repeat;
      background-image: url(../images/sections__item-circle.svg);
      background-size: contain;
      transition: opacity .5s;
      animation: hover-spin 7s linear infinite;
    }

    &:hover {
      span {
        color: #e90e37;
      }

      &::before {
        opacity: 1;
      }

      .services-navigation__svg-icon {
        ._light-grey {
          fill: #e90e37;
        }

        ._black {
          fill: #fff;
        }
      }

      .services-navigation__svg-line {
        ._anim {
          stroke: #e90e37;
        }

        &--left-center {
          border-bottom-color: #e90e37;
        }
      }

      .services-navigation__arrow {
        ._animate {
           fill: #e90e37;
        }
      }

      .services-navigation__bar {
        border-bottom-color: #e90e37;
      }
    }
  }

  &__svg-icon {
    position: relative;
    width: 115px;
    height: 115px;
    margin-right: 26px;

    ._light-grey, ._black {
      transition: fill .5s;
    }

    ._light-grey {
      fill: #ffffff;
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    &--left {
      right: calc(100% + 43px);
    }

    &--right {
      left: calc(100% + 43px);
    }

    ._animate {
        transition: fill .5s;
    }
  }

  &__bar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 260px;
    height: 2px;
    border-bottom: 1px solid #c2d1d5;
    transition: border-bottom-color .5s;

    &--left {
      left: calc(100% + 61px);
    }

    &--right {
      right: calc(100% + 61px);
    }

  }

}

@media only screen and (max-width: 1760px) {
  .services-navigation {
    max-width: 800px;

    &__bar {
      display: none;
    }
  }
}

@media only screen and (max-width: 1050px) {
  .services-navigation {
    max-width: 300px;

    &__item {
      height: auto;

      span {
        display: none;
      }

      &::before {
        display: none;
      }
    }

    &__svg-icon {
      margin-right: 0;
    }

    &__arrow {
      
      &--left {
        right: calc(100% + 10px);
      }

      &--right {
        left: calc(100% + 10px);
      }
    }
  }
}

@media only screen and (max-width: 460px) {
  .services-navigation {
    max-width: 240px;

    &__svg-icon {
      width: 75px;
      height: 75px;
    }

    &__arrow {
      transform: translateY(-50%) scale(0.6, 0.6);
    }
  }
}