<%
	/** примеры кнопок
	 * @name ui-demo/buttons */
%>
<div class="container">
	<div>
		<span class="button">Span</span>
		<a href="#" class="button">Link</a>
		<button class="button">Button</button>
		<input class="button" type="button" value="Input">
		<div class="button">Div</div>
	</div>
</div>
